header {
    text-align: center;
    padding: 20px 0px;
}

#search {
    background-color: blueviolet;
}

form {
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

#forecast {
    background-color: aquamarine;
}

#current-forecast {
    border: 1px solid black;
}

#card-section {
    background-color: cornflowerblue;
}

.card {
    background-color: coral;
}